* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
}

html,
body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

.center {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.header {
  font-size: clamp(2rem, 3vw, 6rem);
  margin-bottom: 2rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.red {
  color: black;
}

.container {
  margin: auto;
  max-width: auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.card {
  cursor: pointer;
  background-color: transparent;
  min-height: 350px;
  max-height: 700px;
  min-width: 350px;
  max-width: 700px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-image,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  background-color: rgb(35, 35, 35);
  color: white;
  transform: rotateY(180deg);
  padding: 20px;
}

li {
  padding: 5px;
  list-style: circle;
}